{{!-- TAREA: construir el about --}}
{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About Demo</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi exercitationem mollitia itaque sit odio veniam, iusto ex iste corporis nihil beatae porro delectus natus ut? Commodi numquam officiis consequuntur impedit.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/saturn-v-revell.jpg" alt="Saturn V revell kit" class="img-thumbnail">
    </div>

</div>

{{> footer }}   